<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Employer-Api</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
</head>

<body>


<div class="container">

    <div class="starter-template">
        <h1>Employer Module All Api</h1><br><br>
        <p><a href="#"> Create Account for Employer (POST):http://127.0.0.1:8000/employer/registration/</a></p>
        <p><a href="#"> Update Account for Employer (PUT):http://127.0.0.1:8000/employer/registration-update/55/</a></p>
        <p><a href="#"> Login,Logout for Employer (POST and GET):http://127.0.0.1:8000/authentication/</a></p>
        <p><a href="#"> Logout for Employer (POST):http://127.0.0.1:8000/employer/logout/</a></p>
        <p><a href="#"> All division fetch (GET):http://127.0.0.1:8000/divisions/</a></p>
        <p><a href="#"> All Employer list show (GET):http://127.0.0.1:8000/employer-list/</a></p>
        <p><a href="#"> Single Employer Details show (GET):http://127.0.0.1:8000/employer-details/5/'</a></p>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
